@charset "UTF-8";

/* 960 grid system */

.envelope {
	min-width: 960px;
	height: 100%;
	text-align: left;
}
.one-column {
	width: 08.333%; /* 80px */

	transition: width .5s ease;
	-webkit-transition: width .5s ease;
	-moz-transition: width .5s ease;
}
.two-column {
	width: 16.667%; /* 160px */

	transition: width .5s ease;
	-webkit-transition: width .5s ease;
	-moz-transition: width .5s ease;
}
.three-column {
	width: 25%; /* 240px */

	transition: width .5s ease;
	-webkit-transition: width .5s ease;
	-moz-transition: width .5s ease;
}
.four-column {
	width: 33.33%; /* 320px */

	transition: width .5s ease;
	-webkit-transition: width .5s ease;
	-moz-transition: width .5s ease;
}
.five-column {
	width: 41.67%;  /* 400px */
}
.six-column {
	width: 50%; /* 480px */

	transition: width .5s ease;
	-webkit-transition: width .5s ease;
	-moz-transition: width .5s ease;
}
.seven-column {
	width: 58.33%; /* 560px; */
}
.eight-column {
	width: 66.67%; /* 640px; */
}
.nine-column {
	width: 75%; /* 720px; */
}
.ten-column {
	width: 83.33%; /* 800px; */
}
.eleven-column {
	width: 91.67%; /* 880px; */
}
.twelve-column {
	width: 100%; /* 960px; */
}