@charset "UTF-8";

/* 960 grid system */

.envelope {
    text-align: left;
    width: 960px;
    height: 100%;
}
.one-column {
	width: 80px;
	background-color: pink;
}
.two-column {
	width: 160px;
}
.three-column {
	width: 240px;
}
.four-column {
	width: 320px;
}
.five-column {
	width: 400px;
}
.six-column {
	width: 480px;
}
.seven-column {
	width: 560px;
}
.eight-column {
	width: 640px;
}
.nine-column {
	width: 720px;
}
.ten-column {
	width: 800px;
}
.eleven-column {
	width: 880px;
}
.twelve-column {
	width: 960px;
}