@charset "UTF-8";

body.show-baseline {
	background-image: url('16px_baseline.gif');
}
h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px; /* baseline 16px; */
}

/* 960 grid system */

.envelope {
	min-width: 960px;
	height: 100%;
	text-align: left;
}
.one-column {
	width: 08.333%; /* 80px */

	transition: width .5s ease;
	-webkit-transition: width .5s ease;
	-moz-transition: width .5s ease;
}
.two-column {
	width: 16.667%; /* 160px */

	transition: width .5s ease;
	-webkit-transition: width .5s ease;
	-moz-transition: width .5s ease;
}
.three-column {
	width: 25%; /* 240px */

	transition: width .5s ease;
	-webkit-transition: width .5s ease;
	-moz-transition: width .5s ease;
}
.four-column {
	width: 33.33%; /* 320px */

	transition: width .5s ease;
	-webkit-transition: width .5s ease;
	-moz-transition: width .5s ease;
}
.five-column {
	width: 400px;
}
.six-column {
	width: 50%; /* 480px */

	transition: width .5s ease;
	-webkit-transition: width .5s ease;
	-moz-transition: width .5s ease;
}
.seven-column {
	width: 560px;
}
.eight-column {
	width: 640px;
}
.nine-column {
	width: 720px;
}
.ten-column {
	width: 800px;
}
.eleven-column {
	width: 880px;
}
.twelve-column {
	width: 960px;
}